<div class="main-gird-posts">
  <div class="main-post">
    <a href="/post.html" class="post-link">
      <article>
        <div class="main-post-detail">
          <h2 class="main-post-title">ایفون</h2>
          <div class="main-post-price">10000/div>
          <div class="main-post-time">ایران </div>
        </div>
        <div class="main-post-thumbnail">
          <img src="assets/images/backgrounds/rocket.png" alt="" />
        </div>
      </article>
    </a>
    </div>   
  </div>
</div>
